<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Task 12</title>
</head>
<body>
<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>

<div ng-controller="myCtrl" ng-app="myApp">

<div>
    <label> Whats your facebook id?</label>
    <input type="text" ng-model="handle"/>
</div>
    <hr/>
    <button ng-click="redirectTo()">https://www.facebook.com/{{handle}}</button>


</div>

</body>
</html>
</html>
